body {
    background-color: darkgray;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    align-items: center;
}

/** Thumb **/
.thumb {
    border: 2px solid black;
    margin: 3px;
    height: 100px;
}
.thumb-selected {
    border: 2px solid blue;
}

/** Display **/
.display-container {
    background-color: #333;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

/** display-close-container **/
.display-close-container {
    display: flex;
    flex-direction: column;
}
.display-close {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin-right: 15px;
    text-align: center;
}
.display-close:hover {
    color: blue;
    background-color: lightblue;
}
.display-close-spacer {
    flex-basis: 100%;
}

/** display-main-container **/
.display-main-container {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

/** display-header **/
.display-link {
    text-decoration: none;
    color: white;
}
.display-link:hover {
    color: blue;
}
.display-title {
    margin-top: 0;
}

/** display-content-container **/
.display-content-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.display-comment {
    max-width: 20em;
    color: white;
}
.display-comment a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}
.display-comment a:hover {
    color: blue;
}
.display-drawn-img {
    border: 2px solid black;
    max-width: 500px;
    flex-basis: 100%;
}
.hide {
    display: none;
}
