.main-header {
	font-family: Arial, Helvetica, sans-serif;
}
.main-container {
    max-width: 900px;
    width: 90%;
    position: relative;
}
.main-footer {
    position: relative;
    top: 450px;
    width: 90%;
    max-width: 450px;
    font-weight: lighter;
    font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
}
.main-footer a:link, .main-footer a:visited, .main-footer a:active {
    color: black;
}

.date-container {
    padding: 5px;
    background-color: #333;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
	font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.date-close {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    text-align: center;

    margin-left: 5px;
    margin-right: 15px;
}
.date-close:hover {
    color: blue;
    background-color: lightblue;
}
.date-input {
    flex-basis: 100%;
}

/**  The calendar's containers outer format **/
.calendar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
	font-family: Arial, Helvetica, sans-serif;
}

/** Calendar default format **/
.calendar-container header {
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: blue;
}
.calendar-container a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.calendar-container a:hover {
    text-decoration: underline;
}
.calendar-container footer {
    text-align: center;
}

/** How the calendar's dates are arranged **/
.calendar-container.top-left {
    display: grid;
    grid-template:  "etc etc etc sun" 25%
                    "etc etc etc mon" 25%
                    "etc etc etc tue" 25%
                    "wed thu fri sat" 25%
                    / 25% 25% 25% 25%;
}
.calendar-container.top-right {
    display: grid;
    grid-template:  "sun etc etc etc" 25%
                    "mon etc etc etc" 25%
                    "tue etc etc etc" 25%
                    "wed thu fri sat" 25%
                    / 25% 25% 25% 25%;
}
.calendar-container.bottom-right {
    display: grid;
    grid-template:  "sun mon tue wed" 25%
                    "thu etc etc etc" 25%
                    "fri etc etc etc" 25%
                    "sat etc etc etc" 25%
                    / 25% 25% 25% 25%;
}
.calendar-container.bottom-left {
    display: grid;
    grid-template:  "sun mon tue wed" 25%
                    "etc etc etc thu" 25%
                    "etc etc etc fri" 25%
                    "etc etc etc sat" 25%
                    / 25% 25% 25% 25%;
}
.calendar-sun { grid-area: sun; }
.calendar-mon { grid-area: mon; }
.calendar-tue { grid-area: tue; }
.calendar-wed { grid-area: wed; }
.calendar-thu { grid-area: thu; }
.calendar-fri { grid-area: fri; }
.calendar-sat { grid-area: sat; }
.calendar-etc { grid-area: etc; }

.calendar-box {
    margin: 2px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.calendar-box>header {
    font-size: 0.75em;
}
.calendar-box>section {
    flex: 1;
}
.calendar-box>footer {
    font-size: 0.60em;
}
.calendar-holiday-list {
    font-weight: bolder;
}
.calendar-kol-full-date {
    font-weight: lighter;
}

/** Calendar's etc box's style **/
.calendar-etc>header {
    font-size: 1.25em;
    padding: 0.63ex 0.63em;
    flex-basis: 100%;
    cursor: pointer;
    flex-basis: 100%;
}
.calendar-etc>section {
    flex: 1;
    display: flex;
}
.calendar-prev, .calendar-next {
    cursor: pointer;
    background-color: blue;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.calendar-pic {
    height: 250px;
    width: 250px;
    cursor: zoom-in;
}
.calendar-etc>footer {
    font-size: 0.75em;
    color: white;
    background-color: blue;
    padding: .38ex 0.38em;
    flex-basis: 100%;
}

/** Calendar's navigation and information sections **/
.calendar-header:hover {
    text-decoration: underline;
}
.calendar-next:hover, .calendar-prev:hover {
    background-color: darkblue;
}

/** Display **/
.display-container {
    z-index: 10;
    background-color: #333;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
	font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}
.display-container a {
    text-decoration: none;
    color: inherit;
}
.display-container a:hover {
    color: blue;
    cursor: pointer;
}
.display-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
.display-main>header {
    font-weight: bolder;
    font-size: 2.5em;
    color: white;
    margin-bottom: .5em;
}
.display-main>section {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.display-misc {
    flex: 1 1;
    margin: 1em;
}
.display-close {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin-right: 15px;
    text-align: center;
}
.display-close:hover {
    color: blue;
    background-color: lightblue;
}
.display-comment {
    margin: auto;
    max-width: 40em;
    color: white;
}
.display-comment a {
    text-decoration: underline;
}
.display-drawn-img {
    border: 2px solid black;
    max-width: 500px;
}
.hide {
    display: none;
}





